
body {
  /* background-image: url("./image/theme.jpeg"); */
  background-color: #DAA520;
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 2rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"], form input[type="number"] {
  width: 30%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

ul li h3 {
  margin: 0;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
